# =========================
# env / secrets
# =========================
.env
.env.*
env.yaml

secrets/*
!secrets/README.md
!secrets/README.txt

# =========================
# python
# =========================
.venv/
__pycache__/
*.pyc

# =========================
# IDE / git
# =========================
.vscode/
.git/

# =========================
# logs / data
# =========================
*.log
logs/
data/
